@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Super Hero Creator</h1>
    <img src="https://qph.fs.quoracdn.net/main-qimg-9f19d874ff2b473f55bc3896797e5c2c" />
    <h2><a asp-controller="Hero" asp-action="Index">List of Super Heroes</a></h2>
</div>
